<div class="hero">
	<div class="container">
		<div class="row">
			<div class="hero-heading">
				Service for lean entrepreneur <br/>
				Find it on Threely.
				<p>Browse. Buy. Done. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">

			</div>
		</div>
	</div>
</div>
<div class="container section">
	<h1>
		Newest Gigs
	</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="gig-card">
				<img src="/img/blog.jpg" />
				<h4>
					I will write 600 words blog posts
				</h4>
				<h3>
					$3
				</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="gig-card">

				<img src="/img/data.jpg" />
				<h4>
					I will be your virtual assistant for data entry
				</h4>
				<h3>
					$3
				</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="gig-card">

				<img src="/img/copywrite.jpg" />
				<h4>
					I will copywrite for your website
				</h4>
				<h3>
					$3
				</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="gig-card">

				<img src="/img/lyrics.jpg" />
				<h4>
					I will create a song for your lyrics
				</h4>
				<h3>
					$3
				</h3>
			</div>
		</div>

	</div>
</div>
